#container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 20px;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vh 1vw 1.5vh 1vw;
}

#header > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0px;
    margin-top: 5vh;
}

#header > p {
    font-size: 2rem;
    text-align: center;
    margin: 0px;
    margin-bottom: 3vh;
}

#new-book {
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 2vh;
    font-size: 1.5rem;
}

#main {
    display: flex;
    gap: 1vw;
    padding: 0vh .5vw;
}

#form-container {
    display: none;
}

.show#form-container {
    display: block;
}

#book-form {
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px black dotted;
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 2.5vh 1vw 3.5vh 1vw;
    background-color: white;
    max-width: 450px;
}

.form-pair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

input:not([type="checkbox"]) {
    width: 20vw;
    max-width: 400px;
    height: 5vh;
    font-size: 25px;
    padding-left: 10px;
}

input[type="checkbox"] {
    width: 3vw;
    height: 3vh;
    margin-right: -.5vw;
}

input[type="submit"], input[type="reset"] {
    width: 9vw;
    border-radius: 8px;
}

#close {
    padding: 1vh 2vw;
    border-radius: 5px;
    font-size: 18px;
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 250px));
    gap: 3vh 2vh;
    padding: 10px 1vw;
    flex-grow: 1;
    grid-template-rows: repeat(auto-fit, 250px)
}

#library > div {
    height: 250px;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 20px;
    border-radius: 5px 15px 15px 5px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}



#library > .notRead {
    background-color: rgb(134, 2, 2);
    border: 3px rgb(134, 2, 2) solid;
    color: white;
}

#library > .read {
    background-color: rgb(5, 132, 141);
    color: white;
    border: 3px rgb(5, 132, 141) solid;
}

div > button {
    font-size: 20px;
    padding: 0.5vh 1vh;
    border-radius: 8px;
    margin-top: auto;
}